<md-sidenav
        class="md-sidenav-left"
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-md')"
        md-whiteframe="4">

      <md-toolbar class="md-primary md-hue-3">
        <h1 class="md-toolbar-tools">Sidenav Left</h1>
      </md-toolbar>
      <md-content layout-padding>
        <md-menu-content>
          <md-menu-item ng-repeat="item in [1, 2, 3]">
            <md-button ng-href="/401">
              <md-icon md-menu-align-target></md-icon>
              Option {{item}}
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-content>
</md-sidenav>
